body {
    font-family: Nunito, sans-serif;
    font-size: 17px;
    background-repeat: no-repeat;
    background-color: #001526;
    background-size: 50cm 1533px; 
    color: #FFFFFF;
	  margin-left: 15px;
	  margin-top: 0px;
	  margin-right: 0px;
}
#music {    
	  width: 500px;  
}
#me {
	  width: 200px;
 	  height: 200px;    
 	  border-radius: 50%;
    float: left;
	  margin-right: 10px;   
}	